<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/LaluIman/Memo/main/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>G4QD0KO8tvooTSMRQHLEVW4W/G9o08OOgpvXtXALNeI=</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUScheduledCheckInterval</key>
	<integer>86400</integer>
</dict>
</plist>
